.wp-block-happyprime-wphtml-converter textarea {
	width: 100%;
	min-height: 20rem;
}

.wp-block-happyprime-wphtml-converter :is(code, pre) {
	background: #fff;
	font-size: 0.85rem;
}

.wp-block-happyprime-wphtml-converter pre {
	margin-top: 3rem;
	padding: 1.5rem 1rem;
}
